
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #008CBA;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}


section {
    margin: 20px;
}

div {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
}


form {
    margin-top: 10px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
